{% extends 'index.html' %}

{% block content %}
    <div class="block-contact">
        <form class="block-contact-form" method="post" enctype="text/plain">
            <input class="contact-form-input" type="email" placeholder="Email" name="email">
            <input class="contact-form-input" type="text" placeholder="Theme" name="theme">
            <textarea class="contact-form-textarea" cols="30" rows="10" placeholder="Message" name="message"></textarea>
            <input class="contact-form-btn-submit" type="submit" value="send">
        </form>
    </div>
{% endblock %}